:root {

    /**
     * colors 
     */

    --red-orange-crayola: hsl(0, 100%, 66%);
    --space-cadet: hsl(249, 37%, 19%);
    --pistachio: hsl(88, 50%, 60%);
    --cultured: hsl(220, 13%, 95%);
    --saffron: hsl(45, 91%, 58%);
    --rhythm: hsl(240, 9%, 51%);
    --white: hsl(0, 0%, 100%);

    /**
     * typography 
     */

    --fs-1: 46px;
    --fs-2: 28px;
    --fs-3: 18px;
    --fs-4: 15px;
    --fs-5: 14px;

    /**
     * spacing 
     */

    --px: 30px;
    --py: 60px;

    /**
     * others 
     */

    --default-transition: 0.75s ease;

}




body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Rubik', sans-serif;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #cccccc;
    outline: none;
    transition: var(--default-transition);
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom-color: var(--saffron);
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    /* Initial width set to 0 */
    background-color: #cccccc;
    transition: var(--default-transition);
}

.input-box.underline input[type="text"]:focus+.underline {
    background-color: var(--saffron);
}


.sign-in-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--saffron);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.option {
    text-align: center;
    margin-top: 10px;
}

#sign_up {
    text-decoration: none;
    color: var(--red-orange-crayola);
}